<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SharedLock</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <h1>SharedLock</h1>
    
    <div class="container">
        <% if(active){ %>
            <%- include('keepass') %>
            <%- include('logout') %>
            <% }else{ %>
                <%- include('login') %>
                <%- include('register') %>
                <% }; %>
    </div>

    <script src="script.js"></script>
</body>
</html>
