<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SharedLock</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div class="login-container">
        <h2>Recherche de mot de passe</h2>
        <form class="login-form" action="/keepass" method="GET">
            <div class="form-group">
                <input type="text" id="site" name="site" placeholder="example.com" required>
            </div>
            <button type="submit">Voir code</button>
        </form>
    </div>
</body>
</html>
