<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SharedLock</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div class="login-container">
        <h2>Connexion</h2>
        <form class="login-form" action="/login" method="GET">
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" required>
                <input type="password" id="password" name="password" placeholder="Mot de passe" required>
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</body>
</html>
