<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SharedLock</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <div class="login-container">
        <h2>Déconnexion</h2>
        <form class="login-form" action="/logout" method="GET">
            <button type="submit">Se déconnecter</button>
        </form>
    </div>
</body>
</html>
